%html{:xmlns=> "http://www.w3.org/1999/xhtml", 'xml:lang' => "en", :lang => "en"}
  %head
    %meta{'http-equiv' => "Content-Type", 'content' => "text/html; charset=utf-8"}
    %meta{'name' => "description", 'content' => "Hancock Single Sign On Server"}
    %meta{'name' => "author", 'content' => "Corey Donohoe  / Original design: Andreas Viklund - http://andreasviklund.com/"}
    %link{'rel' => 'stylesheet', 'type' => 'text/css',  'href' => '/andreas05.css'} 
    %title Step Right Up
  %body
    #title
      %h1 Hancock: Single Sign On
    #container
      #sidebar
        - if session[:user_id]
          %h2 Applications
          - ::Hancock::Consumer.visible.each do |consumer|
            %a{:class => 'menu', :href => consumer.url}= consumer.label

        %h2 Interact
        - if session[:user_id]
          %a{:class => 'menu', :href => '/sso/logout'} Logout
        - else
          %a{:class => 'menu', :href => '/sso/login'} Login
        %a{:class => 'menu', :href => 'http://github.com/atmos/hancock'} Contribute
        %a{:class => 'menu', :href => 'http://wiki.github.com/atmos/hancock'} Documentation

        %h2 Thank You
        %a{:class => 'menu', :href => 'http://engineyard.com'} Engine Yard
      #main
        %p= yield
        - if session[:user_id]
          %h2
            %a{:href => 'mailto:#{session[:email]}'}= "#{session[:first_name]} #{session[:last_name]}"

        %p{:class => 'credits'}
          &copy; 2009 Code by
          %a{:href => 'http://engineyard.com'} Engine Yard
          | Design by
          %a{:href => 'http://andreasviklund.com'}Andreas Viklund
      #footer

